@page
@model ProgrammingAssignment1UI.Pages.Athlete.DecathlonSignUpModel
@{
}


<h1>Decathlon Registration Form</h1>

<div id="get-to-index">
	<h2>Get to Index</h2>
	<form method="get" asp-page="Index">
		<div id="registration-form">
			<div class="mb-3">
				<label asp-for="CurrentAthlete.Name">Name:</label>
				<input type="text" asp-for="CurrentAthlete.Name" required />
			</div>
			<div class="mb-3">
				<label asp-for="CurrentAthlete.Email">Email:</label>
				<input type="text" asp-for="CurrentAthlete.Email" required />
			</div>
			<div class="mb-3">
				<label asp-for="CurrentAthlete.PhoneNumber">Phone Number:</label>
				<input type="text" asp-for="CurrentAthlete.PhoneNumber" />
			</div>
			<div class="mb-3">
				<label asp-for="CurrentAthlete.Birthday">Birthday:</label>
				<input type="text" asp-for="CurrentAthlete.Birthday" />
			</div>
			<div class="mb-3">
				<label asp-for="CurrentAthlete.Gender">Gender:</label>
				<input type="text" asp-for="CurrentAthlete.Gender" />
			</div>
			<input type="hidden" asp-for="CurrentAthlete.Event" value="Decathlon">
		</div>

		<input type="submit" value="Register" />
	</form>
</div>
